* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

ol, li {
    list-style: none;
}

/* 画板 */

#hb {
    box-sizing: border-box;
    display: block;
}

/* 头部 */

.header {
    position: fixed;
    top: 0;
    display: flex;
    flex-flow: column;
    width: 100vw;
    background: #ffffef;
}

/* 激活状态 */

.active {
    transform: scale(1.2);
}

/* 标题 */

.header>h1 {
    text-align: center;
    border-bottom: #bbbbbb 1px solid;
    padding: 10px 0;
}

/* 行为 */

#action {
    padding: 10px 0;
    height: 50px;
    border-bottom: #bbbbbb 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

#action span {
    padding: 10px;
    background: #000000;
    cursor: pointer;
    border-radius: 50%;
}

/* 清空画板  #clear*/

#clear {
    display: inline-block;
}

/* 画笔橡皮粗细  #size*/

.thickness {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#size>span {
    width: 4px;
    height: 4px;
    margin: auto 10px;
    border: 1px solid #bbddbb;
    box-shadow: 0 0 3px 1px #ddbbdd;
}

#size>span:nth-child(1) {
    padding: 2px;
}

#size>span:nth-child(2) {
    padding: 4px;
}

#size>span:nth-child(3) {
    padding: 6px;
}

#size>span:nth-child(4) {
    padding: 8px;
}

/* 颜色  */

#colorSelector>span {
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 10px;
}

#colorSelector>span:nth-child(1) {
    background: #FF0000;
}

#colorSelector>span:nth-child(2) {
    background: #FFFF00;
}

#colorSelector>span:nth-child(3) {
    background: #008000;
}

#colorSelector>span:nth-child(4) {
    background: #0000FF;
}

/* 颜色选择 */

#color {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: none;
    border: none;
    border: 2px;
    margin: 0 10px;
}

#color:focus {
    outline: none;
}

/* input:color 两层div
 ::-webkit-color-swatch-wrapper
 ::-webkit-color-swatch
*/

#color::-webkit-color-swatch {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}

/* icon */

.icon {
    width: 1.5em;
    height: 1.5em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    margin: 0 10px;
    color: rgb(0, 0, 0)
}

@media screen and (max-width: 768px) {
    #colorSelector{
        display: none;
    }
    
}