*{
    margin: 0px;
    padding: 0px;
}
ol,li{
    list-style: none;
}
body{
    cursor: alias ;
}
#hb{
    box-sizing: border-box;
    background: rgb(190, 227, 231);
    border:2px solid red;
    display: block;
    
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

body{
    overflow: hidden;
}
/* button{
    position: fixed;
    bottom:0px;
    left:0px;
} */

.actions{
    position: fixed;
    top:0px;
    left:0px;
    padding: 20px;

}


.actions svg{
    width:2em ;
    height: 2em;
    transition:all 0.3s;
    margin:0 10px;
}

.active{
    fill: red;
    transform: scale(1.2);
}

.colors{
    position: fixed;
    top: 60px;
    left: 28px;
}
.colors>li{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0,0,0,.25);
    margin: 10px 0;
}
.colors>li.red{
    background: red;
}
.colors>li.green{
    background: green;
}
.colors>li.blue{
    background: blue;
}
.colors>li.black{
    background: black;
}
.colors>li.active{
    box-shadow: 0 0 3px rgba(0, 0, 0,0.95);
}


#action{
    position: fixed;
    top:5px;
    left:10px;
    box-sizing: border-box;
}

#action span{
    padding:0 10px;
    border:2px solid red;
    cursor: pointer;
}

#colorSelector>span:nth-child(1){
    background: #FF0000;
}

#colorSelector>span:nth-child(2){
    background: #FFFF00;
}

#colorSelector>span:nth-child(3){
    background: #008000;
}

#colorSelector>span:nth-child(4){
    background: #0000FF;
}

#color{
    width:40px;height:40px;
    padding:0;margin:0;
    cursor:pointer;
    background: none;
    border:none;
}


#color::-webkit-color-swatch{
    height:40px;
    border-radius:100%;
    border:none;
}
#clear{
    display: inline-block;
}
.thickness{
    cursor: url('./img/eraser-cursor.cur');
}

.thickness>span{
    width:30px;

    border-radius: 50%;
}